@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Tilt+Prism&display=swap');

html,body{
    height: 100%;
    width: 100%;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}
.row{
    margin: 6px 6px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Tilt Prism', cursive;
}

.row input{
   margin: 0;
   padding: 10px 0px;
   border: 2px solid black;
   border-radius: 5px;
    font-size: 20px;
    width: 299px;
}

h1{
    font-family: 'Tilt Prism', cursive;
}